<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../sass/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Hubballi&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap" rel="stylesheet" type="text/css">
    <title>SERVICIOS</title>
</head>

<body>
    <header>
        <nav class="navbar flex-row col-xs-12 container-fluid container">
            <a href="../../index.html"><img class="menu__logo" src="../img/logo.png" alt="Logo"></a>
            <ul class="menu flex-row">
                <li class="menu__li">
                    <a class="menu__link" href="../../index.html">INICIO</a>
                </li>
                <li class="menu__li">
                    <a class="menu__link" href="servicios.html">SERVICIOS</a>
                </li>
                <li class="menu__li">
                    <a class="menu__link" href="propuesta.html">PLAN DE TRABAJO</a>
                </li>
                <li class="menu__li">
                    <a class="menu__link" href="nosotros.html">QUIENES SOMOS</a>
                </li>
                <li class="menu__li">
                    <a class="menu__link" href="contacto.html">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="servicios container-fluid"> 
        <h1 class="servicios__titulo">NUESTROS SERVICIOS</h1>
        <a href="./ing_amb.html"><img class="serv__img1" src="../img/ingenieria_ambiental.PNG" alt="slide ing ambiental"></a>
        <a href="./lab_amb.html"><img class="serv__img2" src="../img/laboratorio_ambiental.PNG" alt="slide laboratorio ambiental"></a>
        <a href="./ing_lab.html"><img class="serv__img3" src="../img/ingenieri_laboral.PNG" alt="slide ing laboral"></a>
        <a href="./lab_med.html"><img class="serv__img4" src="../img/mediciones_laborales.PNG" alt="slide mediciones laborales"></a>
    </main>
    <footer>
        <div class="pie flex-row ">
            <div class="contacto1">
                <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6806.284238178527!2d-64.14253226112525!3d-31.46527648079376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432bcc85ef08471%3A0x81757eb9355f9b3a!2sParque%20Industrial%20Ferreyra!5e0!3m2!1ses-419!2sar!4v1645659079565!5m2!1ses-419!2sar" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="contacto2">
                <picture class="ubicacion">
                    <img src="../img/ubicacion_icono.png" alt="icono de ubicacion">
                </picture>                
                <h2 class="pie__titulo">DIRECCIÓN</h2>
                <p class="pie__descripcion">Juan Ramón Estomba, Córdoba</p>
            </div>
            <div class="contacto3">
                <picture>
                    <img class="telefono" src="../img/telefono_icono.png" alt="icono de telefono">
                </picture>                
                <h2 class="pie__titulo">TELÉFONO</h2>
                <p class="pie__descripcion">351-4526294</p>
            </div>
            <div class="contacto4">
                <picture>
                    <img class="mail" src="../img/mail_icono.png" alt="icono de mail">
                </picture>                
                <h2 class="pie__titulo">EMAIL</h2>
                <a class="pie__mail" href="mailto:comercial@ingenieriaintegral.com">comercial@ingenieriaintegral.com</a><br>
                <a class="pie__mail" href="mailto:administracion@ingenieriaintegral.com">administracion@ingenieriaintegral.com</a>
            </div>
            <div class="contacto5">
                <picture>
                    <a class="social__ig" href="https://www.instagram.com" target="_blank"><img src="../img/Instagram_icono.png" alt="Instagram" width="60" height="60"></a>
                </picture>
                <picture>
                    <a class="social__fb" href="https://www.facebook.com" target="_blank"><img src="../img/Facebook_icono.png" alt="Facebook" width="60" height="60"></a>
                </picture>       
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>